<h1>We have received your request <%= @appointment.name %>!</h1>
<p>We will reach out to you after we confirm that the following time is available for your event.</p>

<p>Event Details:</p>
<%= @appointment.name %>
<%= @appointment.email %>
<%= @appointment.phone_num %>
<%= @appointment.address %>
<%= @appointment.event_details %>
<%= @appointment.date %>
<%= @appointment.time %>

<p>Please let us know if any of the following information changes!</p>
