<h1>We have received your request for <%= @appointment.name %>!</h1>
<p>Please review this request and send a confirmation email</p>

<p>Event Details:</p>
<%= @appointment.name %>
<%= @appointment.email %>
<%= @appointment.phone_num %>
<%= @appointment.address %>
<%= @appointment.event_details %>
<%= @appointment.date %>
<%= @appointment.time %>
