<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :appointment_name, required: true, class:"form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :appointment_email, required: true, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone_number%>
    <%= form.text_field :phone_num, id: :appointment_phone_num, required: true, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, id: :appointment_address, required: true, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :event_details %>
    <%= form.text_area :event_details, id: :appointment_event_details, required: true, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.text_field :date, id: :appointment_date, required: true, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :time %>
    <%= form.text_field :time, id: :appointment_time, required: true, class:"form-control"%>
  </div>

  <div class="actions">
    <%= form.submit  "Submit Event Request", class: "btn btn-primary" %>
  </div>
<% end %>
