<!DOCTYPE html>
<html>
<div class="aboutimg">
</div>
  <head>
    <div class="aboutimg">
    </div>
    <link href = "about.scss" rel = "stylesheet" type = "text/scss">
    <meta charset="utf-8">
    <title>About Me</title>
  </head>
  <body>
     <div class="header">
    <div class="logo">
      <%= image_tag("logo.png", :size => "130x75") %>

      <p><%= link_to 'BOOK EVENT', calendar_path, class: "navbar-brand" %></p>
      <p><%= link_to 'GALLERY', gallery_path, class: "navbar-brand" %></p>
      <p><%= link_to 'ABOUT', about_path, class: "navbar-brand" %></p>
      <p><%= link_to 'HOME', root_path, class: "navbar-brand" %></p>
    </div>
  </div>

    <div class="container">
      <div class= "abouth1">

        <h1>About Me</h1>

        <div class="col-md-6">
          <%= image_tag("image1.jpg") %>
        </div>

        <div class="col-md-5">
          <p>I grew up in the era of house parties.  Almost every weekend my mom would have house parties and invite her friends over to play games and listen to music.  Being that I was only 5 years old, I remember sneaking out of my room to watch them.  What they didn’t know was I was watching their reactions to songs.  I was truly fascinated with how a song could move a person.  Bring life to a party or bring back a memory.  It was during this age when I would sneak out of the room and change the song for them.   I would get 6, sometimes 8 songs in a row before they noticed it was me, and yell “ Go to Bed”. Two songs later I am back out changing to then next song. </p>

          <p>I remember one time someone said how does he know all our favorites songs.  They didn’t know I just remembered all parties and which song brought the greatest joy out of whoever was there.  And that’s where it began.  By the next few parties, my mom would let me play the music all night long!  This carried over to high-school where I would Dj all my friends parties.</p>

          <p>Music is a book for me.  I can sit for hours in a room and just listen to songs of every genre.  I mean truly every genre. I just love the sounds, the word play, the beat and the emotion it carries.  This has helped me be a Dj that can rock any party regardless of genres my mixes will bring you an experience that will exceed your expectations.</p>
        </div>
      </div>
  </div>
  </body>
</html>
