<!DOCTYPE html>
<html>
<div class="aboutimg">
</div>
  <head>
    <div class="aboutimg">
    </div>
    <link href = "about.scss" rel = "stylesheet" type = "text/scss">
    <meta charset="utf-8">
    <title>About Me</title>
    <nav class="navbar navbar-inverse">

       <div class="container-fluid">
          <div class="container">
            <div class="navbar-header">
                <%= link_to 'Home', root_path, class: "navbar-brand" %>
            </div>
            <div class="navbar-header">
                <%= link_to 'About', about_path, class: "navbar-brand" %>
            </div>
            <div class="navbar-header">
                <%= link_to 'Gallery', gallery_path, class: "navbar-brand" %>
              </div>
            <div class="navbar-header">
              <%= link_to 'Calendar', calendar_path, class: "navbar-brand" %>
          </div>
        </div>
      </div>
    </nav>
  </head>
  <body>
    <div class="container">
      <div class= "abouth1">
      
        <h1>About Me</h1>   

        <div class="col-md-6">
          <%= image_tag("image2.png") %>
        </div>

        <div class="col-md-4">
          <p>I think the only card she has is the Lorem card. You're telling the enemy exactly what you're going to do. No wonder you've been fighting Lorem Ipsum your entire adult life. You’re disgusting. That other text? Sadly, it’s no longer a 10.</p>

          <p>The best taco bowls are made in Trump Tower Grill. I love Hispanics! An ‘extremely credible source’ has called my office and told me that Barack Obama’s placeholder text is a fraud.</p>
        </div>
      </div>
  </div>
  </body>
</html>
