<!DOCTYPE html>
<html>
<div class="aboutimg">
</div>
  <head>
    <div class="aboutimg">
    </div>
    <link href = "about.scss" rel = "stylesheet" type = "text/scss">
    <meta charset="utf-8">
    <title>About Me</title>
  </head>
  <body>
     <div class="header">
    <div class="logo">
      <%= image_tag("logo.png", :size => "130x75") %>

      <p><%= link_to 'Book Event', calendar_path, class: "navbar-brand" %></p>
      <p><%= link_to 'Gallery', gallery_path, class: "navbar-brand" %></p>
      <p><%= link_to 'About', about_path, class: "navbar-brand" %></p>
      <p><%= link_to 'Home', root_path, class: "navbar-brand" %></p>
    </div>
  </div>

    <div class="container">
      <div class= "abouth1">

        <h1>About Me</h1>

        <div class="col-md-6">
          <%= image_tag("image1.jpg") %>
        </div>

        <div class="col-md-4">
          <p>Welcome to a new and exciting style of DJing! I put a new-spin on what can often be predictable and run-of-the-mill entertainment. Created with the vision of doing away with the cliché of cheesy tunes and microphone action. </p>

          <p>My mission is to make your party the most memorable event ever. I introduce my knowledge and experience of what keeps a dance-floor alive to create a truly unforgettable night!</p>

          <p>I bring with me over twenty years spent behind the decks in a variety of bars, clubs and stunning occasion venues around the United States. Combined with my vast musical catalogue and my love for all genres of music I am committed to bringing you an experience that will exceed your expectations.</p>
        </div>
      </div>
  </div>
  </body>
</html>
