<html>
<head>
  <div class="header">
    <div class="logo">
      <%= image_tag("logo.png", :size => "130x75") %>

      <p><%= link_to 'Book Event', calendar_path, class: "navbar-brand" %></p>
      <p><%= link_to 'Gallery', gallery_path, class: "navbar-brand" %></p>
      <p><%= link_to 'About', about_path, class: "navbar-brand" %></p>
      <p><%= link_to 'Home', root_path, class: "navbar-brand" %></p>
    </div>
  </div>

</head>
<body>
  <div class="container">
    <div class="col-md-12" id="spinpic">
      <img src=/assets/djc.jpg alt="picture">
    </div>
    <div class="gallery">
      <img src=/assets/dje2.jpeg alt="picture">
    </div>
    <div class="gallery">
      <img src=/assets/image2.png alt="picture">
    </div>
    <div class="gallery">
      <img src=/assets/atlas2.jpg alt="picture">
    </div>
    <div class="gallery">
      <img src=/assets/djequip.jpeg alt="picture">
    </div>
    <div class="gallery">
      <img src=/assets/djc2.jpg alt="picture">
    </div>
    <div class="gallery">
      <img src=/assets/image1.jpg alt="picture">
    </div>
  </div>
</body>
</html>
