<body id="gif">
<p id="notice"><%= notice %></p>

<!-- <h1 id="front"> Dj Crues</h1> -->
<div id="mainpage">
<h1>DJ CRUES</h1>
   <p><%= link_to 'DJ Crues', root_path %></p>
   <p><%= link_to 'About', about_path %></p>
   <p><%= link_to 'Gallery', gallery_path %></p>
   <p><%= link_to 'Calendar', calendar_path %></p>

</div>
</body>
