<body id="gif">
<div class="header">
    <div class="logo">
      <%= image_tag("logo.png", :size => "130x75") %>

      <p><%= link_to 'BOOK EVENT', calendar_path, class: "navbar-brand" %></p>
      <p><%= link_to 'GALLERY', gallery_path, class: "navbar-brand" %></p>
      <p><%= link_to 'ABOUT', about_path, class: "navbar-brand" %></p>
      <p><%= link_to 'DJ CRUES', root_path, class: "navbar-brand" %></p>
    </div>
  </div>

<!-- <h1 id="front"> Dj Crues</h1> -->
<div id="mainpage">


</div>
</body>
